.project-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Aligning content towards the middle */
}

.project-card {
  width: 27vw; /* Adjusting the width of the project card based on viewport width */
  height: 55vh; /* Adjusting the height of the project card based on viewport height */
  margin-right: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.project-card .project-image {
  height: 50%;
}

.header-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure the container takes the full height */
}
