<div class="project-container">
  <p-carousel [value]="projects" [numVisible]="3" [circular]="false" [showNavigators]="false" >
    <ng-template pTemplate="header">
      <div class="header-container">
        <h1 style="color: Red;">Projects</h1>
      </div>
    </ng-template>
    <ng-template let-project pTemplate="item">
      <div class="project-card">
        <img class="project-image" [src]="project.img" alt="Project">
        <h3>Project {{ project.name }}</h3>
        <p>Description of Project {{ project.description }}</p>
        <a [href]="project.links[0]" target="_blank">Demo</a>
        <a [href]="project.links[1]" target="_blank">GitHub</a>
      </div>
    </ng-template>
  </p-carousel>
</div>
