<div class="container">
  <img src="../../assets/image_icon.jpg" alt="Profile Image">
  <div class="bio">
    <h1>Sourav Ghai</h1>
    <p>Software Developer</p>
    <p>Canada Revenue Agency</p>
    <div class="icons">
      <a href="https://github.com/sourav15102/" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
      <a href="https://www.linkedin.com/in/sghai96/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
      <a href="https://twitter.com/souravghai96/" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
    </div>
  </div>
</div>
